In [1]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
HOST        = config.get("CLUSTER", "HOST")
DB_NAME     = config.get("CLUSTER", "DB_NAME")
DB_USER     = config.get("CLUSTER", "DB_USER")
DB_PASSWORD = config.get("CLUSTER", "DB_PASSWORD")
DB_PORT     = config.get("CLUSTER", "DB_PORT")
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)

postgresql://dwhuser:Passw0rd@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh

In [2]:
%sql $conn_string

'Connected: dwhuser@dwh'

In [3]:
%sql select distinct tablename from pg_table_def where schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [4]:
%sql select tablename, count(*) as num_columns from pg_table_def where schemaname = 'public' group by 1;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('songplays', 9),
 ('time', 7),
 ('users', 5),
 ('staging_songs', 10),
 ('songs', 5),
 ('staging_events', 18),
 ('artists', 5)]

In [5]:
%sql select count(*) from staging_events;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [6]:
%sql select count(*) from staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [7]:
%sql select count(*) from songplays;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [8]:
%sql select count(*) from users;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [9]:
%sql select count(*) from songs;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [10]:
%sql select count(*) from artists;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [11]:
%sql select count(*) from time;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [12]:
%%sql
delete from staging_events;
delete from staging_songs;
delete from songplays;
delete from users;
delete from songs;
delete from artists;
delete from time;

 * postgresql://dwhuser:***@dwhcluster.cnqie2ev0tzz.us-west-2.redshift.amazonaws.com:5439/dwh
8056 rows affected.
14896 rows affected.
333 rows affected.
104 rows affected.
14896 rows affected.
10025 rows affected.
333 rows affected.

[]